/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-inverse {
background-color:#202020;
}
.navbar-inverse .navbar-nav li a {
    color: #FFF;
}

.navbar-nav li a {
    display: block;
    width: 120px;
    text-align: center;
    color: #FFF;
}

.navbar-inverse .navbar-nav .active a {
    background-color: #F6AB00;
}

    .navbar-inverse .navbar-nav .active a:hover {
        background-color: #F6AB00;
    }

    .navbar-inverse .navbar-nav .active a:focus {
        background-color: #F6AB00;
    }

.subnav ul {
margin:0px;
padding:0px;
list-style:none;
width:auto;
}
.subnav ul li {
    
float:left;
    }
.subnav li a {
    color: #434343;
    display: block;
    width: 90px;
    text-align: center;
    padding:6px; 
    text-decoration:none;
    font-size:13px;
    font-weight:bold;
}

    .subnav a:hover {
        background-color: #F6AB00;
        color:#FFF;
    }

    .subnav a:focus {
        background-color: #F6AB00;
           color:#FFF;
    }


/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
